/* ==========================================================================
   
   ========================================================================== */
html,body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
}
a {
	color: #b71a4c;
}
.front-indicator {
	width: 145px;
	margin: 5px 32px 15px 32px;
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
}
.wrapper {
	width: 100%;
	text-align: center;
}
.container {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 401px;
}
.seatCharts-legendItem{
	position: relative;
	display: table;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 35px;
	width: 35px;
	line-height: 25px;
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;
}
div.seatCharts-row {
	height: 35px;
}
div.seatCharts-seat.available {
	background-color: #67b9e9;
}
div.seatCharts-seat.available.increible-class {/* 	background: url(vip.png); */background-color: #4ba54d;}
div.seatCharts-seat.available.comoda-class {/* background: url(vip.png); */background-color: #ffed06;}
div.seatCharts-seat.available.chevere-class {/* 	background: url(vip.png); */background-color: #df7200;}
div.seatCharts-seat.available.first-class {/* 	background: url(vip.png); */background-color: #0007ff;}

#escalera1, #escalera2, #bano, #conductor{
	pointer-events: none;
	color:transparent;
}
#escalera1{
	background: url(../assets/sillas_up.svg);
}
#escalera2{
	background: url(../assets/sillas_down.svg);
}
#bano{
	background: url(../assets/bano.svg);
}
#conductor{
	background: url(../assets/conductor.svg);
}
.piso{
	width: 100px;
	padding:20px 0px;
}


div.seatCharts-seat.focused {
	background-color: #999;
	border:solid 2px #a5a5a5;
}
#escaleras {
	background-color: #bbb;
	pointer-events: none;
}
div.seatCharts-seat.selected {
	background-color: #777;
	border: solid 2px #a5a5a5;
}
div.seatCharts-seat.unavailable {
	background-color: #000000;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	padding: 4%;
	float: inherit;
	border: solid 1px lightgrey;
	border-radius: 19px;
	margin-top: 20px;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 110px;
	overflow-y: scroll;
	width: 260px;
}
#piso1, #piso2{
	width:auto;
	margin-top:30px;
}

@media (min-width: 600px) {
  	div.seatCharts-seat {
		color: #FFFFFF;
		cursor: pointer;
		transform: rotate(270deg);
	}
	.piso {
		transform:rotate(270deg);
	}
	#piso1{
		transform: rotate(90deg);
		margin-top: -210px;
		margin-left: 88px;
	}
	#piso2{
		transform: rotate(90deg);
		margin-top: -500px;
		margin-left: 90px;
		left: 0px;
	}
	#detalles{
		margin-top: -270px;
	}
}