body{
    font-family: "montserrat", Helvetica, sans-serif;
    color: #1B1464;
    position: relative;
    padding-top: 85px;
}
.px-30{
    padding-left: 30px;
    padding-right: 30px;
}
.btn{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.btn--primary{
    background-color: #1B1464;
    color: white;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 0px;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border: solid 1px gray;
}
.btn.bg-light-blue{
    color: white;
    border: white solid 2px;
}
.btn.bg-orange{
    color: white;
    border: white solid 2px;
}
.light-shadow{
    box-shadow: 0px 0px 8px gray,0px 0px 4px dimgray;
}
.bg-light-blue{
    background-color: #439AE9;
}
/* existe en bootstrap
.bg-white{
    background-color: white;
}
*/
.bg-orange{
    background-color: #E1972F;
}
.bg-image{
    overflow: hidden;
    position: relative;
}
.bg-image>img{
    position: absolute;
    top: -9999px;
    bottom:-9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
    z-index: 0;
}
.section__title.bg-image>img{
    width: 200%;
    z-index: -1;
}
.bg_inicial{
    background: url(../images/bg/top-banner.jpg) no-repeat;
    background-size: cover;
}
/*
.bg-medellin{
    background: url(../images/app/medellin.png) no-repeat;
    background-size: cover;
}
.bg-cali{
    background: url(../images/app/cali.jpg) no-repeat;
    background-size: cover;
}
.bg-bucaramanga{
    background: url(../images/app/bucaramanga.jpg) no-repeat;
    background-size: cover;
}*/
.border-blue{
    border: 2px solid #439AE9;
}
h6.bg-orange{
    padding: 10px 15px 10px 20px;
    color: white;
}
.text-orange{
    color: #E1972F !important;
    font-weight: 600;
}
.panel{
    padding: 15px;
    border-radius: 3px;
    border: solid 1px lightgray;
}
.panel-shadow{
    box-shadow: 0px 0px 15px gray;
}
.text-red {
    color: #C1272D;
}

header{
    background-color: #E3F4FF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
header .header__bradcrumb i{
    color: #E1972F;
    font-size: 4em;
    font-weight: 200;
}
header .header__bradcrumb>div{
    width: 96px;
    display: inline-block;
    color: #1B1464;
    line-height: 1em;
    vertical-align: top;
    padding-top: 1em;
}
header .navbar-toggler{
    background: url('../images/svg/menu_button.svg') no-repeat;
    width: 45px;
    height: 45px;
}
header .date{
    background: url('../images/svg/calendar.svg') no-repeat;
    width: 45px;
    background-position: center;
    height: 45px;
    margin-right: 15px;
    color: white;
    text-align: right;
    padding: 10px 5px;
}
header .navbar-collapse li:hover a{
    color: white;
}
header hr{
    width: 90%;
    margin-top: 0.2em;
    margin-bottom: 0px;
}
header .navbar-collapse ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: space-around;
    align-items: flex-end;
}
header .navbar-collapse ul li img{
    width: 70%;
    max-width: 92px;
}
header .navbar-collapse ul li{
    width: 30%;
    padding: 4px;
    text-align: center;
}
header .navbar-collapse ul li h4{
    border-top: #E1972F solid 2px;
    padding-top: 5px;
    font-size: 0.9em;
    color: #1B1464;
    margin: 0px;
    margin-top: 5px;
    font-family: 'cabin', Helvetica, sans-serif;
}
header .navbar-collapse {
    padding-bottom: 100vh;
}

.section__title{
    padding: 45px 30px 100px 30px;
}
.section__title.bg_acceso{
    padding: 45px 5px 1px 5px;
}
.section__title.bg_envios{
    padding: 65px 30px 120px 30px;
}
.portada .section__title.bg_envios{
    padding: 65px 30px 30px 30px;
}
.section__title.long{
    padding: 65px 30px 245px 30px;
}
.section__title h1{
    font-size: 1.5em;
    font-weight: 800;
    color: #023D80;
    position: relative;
    font-family: 'cabin',sans-serif;
    -webkit-text-stroke: 0px #023D80;
   text-shadow:
       0px 0px 10px #fff,
     0px 0px 10px #fff;
}
.section__title h1::after{
    content:' ';
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 25%;
    height: 7px;
    border-radius: 4px;
    background-color: #F5C355;
}
.section__title.bg_acceso h1{
    margin-left: 25px;
}
.title{
    font-size: 1.5em;
    font-weight: 600;
    color: #1B1464;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
}
.subtitle{
    font-size: 1.4em;
    font-weight: 500;
    color: #1B1464;
    margin-top: 10px;
    margin-bottom: 25px;
}






#bienvenida{
    background: url(../images/app/bg.png) repeat;
    background-position: center;
    padding: 15px;
}
#bienvenida .header h3{
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    color: white;
}
#bienvenida .linea{
    width: 100%;
    text-align: center;
    position: relative;
}
#bienvenida .linea img{ 
    width: 50%;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}
#bienvenida .linea::before{
    position: absolute;
    content: ' ';
    background: white;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    z-index: 0;
}
.carousel h5{
    text-align: left;
}

.carousel-item{
    margin: 0 auto;
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}
#carouselPack .carousel-item,#carouselPack2 .carousel-item{
    height: auto;
    margin-bottom: 0px;
}
.carousel-item .wrapper{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
}
.carousel-item .wrapper img{
    width: 100%;
    height: auto;
}
.carousel-item button{
    background-color: transparent;
    background-image: url('../images/app/btn_fechas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 25px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: none;
    color: white;
    font-size: 0.8em;
}
.carousel-control-prev-icon{
    background-image: url('../images/svg/arrow_prev.svg');
}
.carousel-control-next-icon {
    background-image: url('../images/svg/arrow_next.svg');
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 30px;
    height: 60px;
}
.carousel-indicators{
    position: relative;
    top: 10px;
    height: 30px;
    padding: 7px 10px 5px 10px;
    margin: 0 auto;
    background: dimgray;
    display: inline-block;
}
.carousel-indicators li,.slick-dots li{
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border: 2px solid white;
    background: dimgray;
    display: inline-block;
}
.slick-dots li button:before{
    content: "";
}
.carousel-indicators li.active,.slick-dots li.slick-active{
    background: #439AE9;
}
.carousel .hand{
    position: relative;
    width: 100%;
    height: 10px;
}
.carousel .hand img{
    position: absolute;
    right: 0px;
    top: -50px;
}
#accordionsf{
    padding: 20px 10px;
}
.carousel{
    margin-top: 15px;
    padding: 15px 30px;
    margin-bottom: 15px;
    text-align: center;
}
.carousel .review{
    margin-bottom: 15px;
    text-align: justify;
}
.pack-wrapper{
    padding: 20px 15px;
}
.pack-wrapper>.carousel{
    background-color: white;
    padding: 15px;
}

.puntos_inicial{
    background-color: #439AE9;
    margin-top: 10px;
    box-shadow: 0px 0px 8px gray;
    margin-bottom: 15px;
    color:white;
    text-align: center;
    padding: 20px 0px 40px 0px;
    box-shadow: 0px 5px 10px dimgray;
    font-family: 'cabin';
}
.puntos_inicial .header>div:first-child{
    background-color:#1B1464; 
    padding: 15px 0px;
    font-size: 1.5em;
}
.puntos_inicial .header>div:last-child{
    background-color:#2C3C99;
    padding: 10px 0px;
    font-size: 2em;
}
.puntos_inicial .star{
    background-image: url('../images/svg/puntos.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}





.subtitle{
    font-family: 'cabin', Helvetica, sans-serif;
    color: #1B1464;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 1.4em;
    color: #023D80;
    padding-left: 1em;
}
.btn_tools{
    background-color: white;
    background-image: url('../images/svg/gear.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    background-size: 35px 35px;
    box-shadow: 0px 0px 8px gray;
    border: solid #E1972F 1px;
    margin-top: 30px;
}


.separador{
    clear: both;
    height: 18px;
    overflow: hidden;
}
.separador::after{
    content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
    letter-spacing: 5px;
}



.compra_click{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.compra_click>div{
    width: 120px;
    margin-bottom: 15px;
}
.compra_click img{
    width: 100%;
}
.compra_click h5{
    color: white;
}
.btn--comprar{
    background-color: #2c3c99;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-radius: 0px;
    color: white;
}









.panel__ver_mas{
    background-color: #2c3c99;
    padding: 15px 30px 30px 30px;
}
.panel__ver_mas label{
    color: white;
    font-weight: 500;
}
.panel__ver_mas input{
    width: 100%;
    padding: 7px;
    padding-right: 30px;
    color: #2c3c99;
    font-size: 1.2em;
    font-weight: 400;
}
.panel__ver_mas>div>div{
    position: relative;
}
.panel__ver_mas>div>div::after{
    content: ' ';
    position: absolute;
    width: 50px;
    height: 100%;
    background: #E1972F;
    top: 0px;
    right: 0px;
    background-image: url('../images/svg/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
}



.destinos__title,.guias__title{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.destinos li:nth-child(even){
    background-color: #1B1464;
}
.destinos li>div>div:nth-child(odd){
    color: #E1972F;
}
.destinos li>div>div:first-child{
    width: 40px;
    text-align: center;
}
.destinos li>div>div:last-child{
    width: 50px;
    text-align: center;
}
.destinos li>div>div:nth-child(2){
    width: 150px;
}
.destinos .star{
    background-color: transparent;
    border: none;
    background-image: url('../images/svg/star_border.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}
.destinos .star.active{
    background-image: url('../images/svg/yellow_star.svg');
}

.guias,.destinos{
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}
.guias li,.destinos li{
    line-height: 1.1em;
    background-color: #2c3c99;
    color: white;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 0.9em;
}
.guias li>div,.destinos li>div{
    display: flex;
    justify-content: space-between;
}
.guias li>div>div,.destinos li>div>div{
    padding: 10px 6px;
    flex-grow: 1;
    align-self: center;
}
.guias li>div>div:first-child{
    width: 130px;
    background-color: #1B1464;
    color: #E1972F;
    font-size: 0.9em;
    padding-left: 5px;
}
button.status{
    padding: 6px;
    width: auto;
    background: white;
    color: #439AE9;
    border-radius: 6px;
    border: none;
    font-size: 0.6em;
    font-weight: 600;
}
@media (max-width:480px){
    button.status{
        font-size: 0.8em;
        font-weight: 800;
    }
    .guias li>div>div:first-child{
        font-size: 0.8em;
    }
}
button.status::before{
    content: 'EN PROCESO';
}
button.status.delivered{
    color: #8CC63F;
}


.btn_guia_agregar{
    width: 100%;
    background: white;
    box-shadow: 0px 0px 8px gray;
    border: solid #E1972F 1px;
    padding: 12px;
    color: #E1972F;
    font-size: 1.2em;
}







footer{
    background: #B0DDFF;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 0.8em;
    margin-bottom: 1em;
    box-shadow: 0px 1px 5px gray;
}
.portada footer{
    position: fixed;
    bottom: 0px;
    padding: 0px;
    margin-bottom: 0;
    z-index: 50;
}
footer nav ul{
    list-style: none;
    display: flex;
    background-color: white;
    color: #1B1464;
    padding: 0px;
    width: calc(100% - 30px);
    margin-bottom: 0;
    margin-left: 15px;
}
footer nav ul li{
    text-align: center;
    flex-grow: 1;
    text-align: center;
    padding: 5px 5px;
    border-right: 1px solid lightgray;
    width: 25%;
}
footer nav ul li:last-child{
    border-right: none;
}
footer nav ul li img{
    height: 60px;
    margin: 5px 0px;
}
footer nav ul li h4{
    border-top: #E1972F solid 2px;
    padding-top: 5px;
    font-size: 1em;
    color: #1B1464;
    margin: 0px;
    margin-top: 5px;
    font-family: 'cabin', Helvetica, sans-serif;
}







.pack .crossed{
    background: url(../images/bg/bluecrossed.png) no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
    padding-right: 10px;
    padding-top: 36px;
    padding-bottom: 36px;
}
.pack .crossed h3{
    font-weight: 600;
    font-size: 1.5em;
}
.pack .crossed>p{
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 0.8em;
}
.pack .price-discount{
    font-size: 1.3em;
    position: relative;
    box-sizing: content-box;
    display: inline-block;
}
.pack .price-discount::after{
    content:' ';
    position: absolute;
    top: 50%;
    left: 0px;
    width: calc(100% + 15px);
    margin: 0px -15px;
    height: 2px;
    border-bottom: 2px solid #F5C355;
}
.pack .price{
    font-size: 1.8em;
    margin-top: -7px;
}
.pack .price h6{
    font-size: 0.5em;
    margin-bottom: -7px;
}
.pack .crossed>img{
    width: 49%;
    max-width: 230px;
    min-width: 170px;
    position: absolute;
    bottom: -7px;
    left: 0px;
}
.pack .crossed.small>img{
    min-width: 90px;
    max-height: 120px;
    max-width: 140px;
}
.pack .crossed.small>.images.bus{
    min-width: 90px;
    max-width: 130px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.pack .crossed.small>.images.bus img{
    max-width: 100%;
}
.pack .crossed.small>.images.bus img:last-child{
    position: relative;
    top: -10px;

}
.pack.buscar .crossed{
    padding-bottom: 40px;   
}
.pack .image-wrapper{
    text-align: center;
    padding-top: 30px;
}
.pack .image-wrapper button,.pack .image-wrapper h3{
    z-index: 1;
}
.pack .image-wrapper>h3{
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
    font-size: .8em;
    text-shadow: 0 0 5px black;
    text-align: right;
    font-weight: 600;
}
.pack .image-wrapper>button{
    margin-top: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
.pack .image-wrapper>div{
    position: relative;
    z-index: 2;
    text-align: center;
}
.pack .image-wrapper>div:first-of-type{
    background-color: #2C3C99;
    border: solid 2px white;
    padding: 5px;
    color: white;
    border-radius: 5px;
    min-width: 120px;
    display: inline-block;
    padding-left: 35px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: right;
    position: relative;
}
.pack .image-wrapper>div:first-of-type::after{
    position: absolute;
    left: 2px;
    top: 4px;
    content: ' ';
    background: url(../images/svg/puntos.svg) no-repeat;
    width: 25px;
    height: 30px;
}
.pack.buscar .image-wrapper{
    padding-top: 20px;
    padding-bottom: 30px;
}
.pack.buscar .image-wrapper h3{
    color: #ffffff;
    text-shadow: 0px 0px 10px black, 0px 0px 2px black;
    text-align: right;
    padding-right: 10px;
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 1em;
    position: relative;
}
.pack.buscar .image-wrapper>div:first-of-type::after{
    position: absolute;
    left: 2px;
    top: 4px;
    content: ' ';
    background: transparent;
    width: 0px;
    height: 0px;
}
.pack.buscar .image-wrapper>div:first-of-type{
    text-align: center;
    padding: 10px 15px;
    background-color: #439AE9;
}
.pack .image-wrapper>div:last-of-type{
    font-size: 1.3em;
    line-height: 1em;
}
.buscar.pack .crossed>img{
    min-width: 110px;
}




.table{
    border-collapse:separate;
    border-spacing: 0;
}
.table th{
    background: #1B1464;
    color: white;
    font-weight: 400;
    /*border-bottom: solid white 10px;*/
    padding: 0.1rem 0.8rem;

}
.table td{
    border-bottom: solid white 10px;
    padding: 2px 10px;
}
/*@media (min-width: 768px)
{
    .table td{
        border-bottom: solid white 10px;
        padding: 0.2rem;
        text-align: left;
    }
    .table th{
        padding: 0.2rem;
    }   
}*/
.table tr td{
    background-color: white;
}
/*
.table tr:nth-child(even) td{
    background-color: #E6E6E6;
}
.table tr:nth-child(odd) td{
    background-color: lightgray;
}*/
.table.with-action td:last-child a,.table.with-action td:last-child a{
    color: #E1972F;
}
/* para tablas muy anchas*/
.row-table{
    width: 100%;
    overflow: scroll;
}

.features .d-flex>div{
    width: 102px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    font-size: 0.8rem;
    font-family: "cabin";
    text-align: center;
}
.features .d-flex>div figure{
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0.1rem;
}
.features .d-flex>div figure img{
    height: 100%;
    width: auto;
}
.features .d-flex>div hr{
    width: 80%;
    margin-top: 2px;
    margin-bottom: 1px;
    border-top: 1px solid #E1972F;
}

.routes .listwrapper{
    overflow-y: scroll;
    height: 300px;
}


.accordion .btn-link{
    float: right;
    text-decoration: none;
    padding-bottom: 0px;
    height: 1px;
}
.accordion .btn-link:after{
    width: 50px;
    height: 40px;
    font-family: FontAwesome;
    content: "\f104";
    color: #E1972F;
    text-decoration: none;
    font-size: 3em;
    line-height: 0em;
}
.accordion .btn-link.active:after{
    content: "\f107";
}
.accordion .card-body{
    font-size: 0.9em;
}
.accordion .card-header{
    background-color: white;
    border-bottom: none;
}
















.pack-top.pack-blue{
    background-color: #2C3C99;
    color: white;
}

.pack-top.pack-orange{
    background-color: #FABC00;
    
}
.pack-bottom.pack-blue{
    background: 
   -webkit-linear-gradient(top right, #1B1464 18%, #2C3C99 0%, #2C3C99 35%, #1B1464 0%, #1B1464 100%);
    background: 
   -o-linear-gradient(top right, #1B1464 18%, #2C3C99 0%, #2C3C99 35%, #1B1464 0%, #1B1464 100%);
    background: 
    linear-gradient(to bottom left, #1B1464 31%, #2C3C99 -8%, #2C3C99 50%, #1B1464 0%, #1B1464 57%);
    color: white;
}
.pack-bottom{
    padding: 10px 15px;
    position: relative;
    font-weight: bold;
}
.pack-top{
    padding: 10px 15px;
    position: relative;
    text-align: left;
    font-weight: bold;
}

.pack-top h3{
    font-weight: bold;
}

.pack-blue .txt-ruta{
    color: #E1972F;
}
.pack-bottom .serv-icons{
    color: #E1972F;
    text-align: center;
    display: block;
}
.pack-bottom .serv-icons img{
    width: 55px;
    display: inline-block;
}
@media (min-width:768px){
    .pack-bottom .serv-icons img{
        width: 80px;
    }
}
.pack-bottom p,.pack-top p{
    margin-bottom: 0px;
    line-height: 1em;
}
.pack-bottom .serv-icons div{
    display: inline-block;
}

.pack-bottom .serv-icons div:not(:last-child)::after{
    content: "+";
    font-size: 20px;
    padding: 14px 6px;
    vertical-align: middle;
    float: right;
}
@media (min-width:992px){
    .pack-bottom .serv-icons div:not(:last-child)::after{
        font-size: 35px;
    }
}

.pack-blue hr{
    border-top: 1px solid rgba(225,151,47,0.5);
    margin-top: 2px;
    margin-bottom: 5px;
}

.pack-orange hr{
    border-top: 1px solid rgba(27,20,100,0.5);
    margin-top: 2px;
    margin-bottom: 5px;
}

.pack-top .incluye{
    font-size: .75em;
}
.pack-top .incluye span{
    font-weight: normal;
}
.pack-bottom ul,.pack-top ul{
    list-style: none;
    padding-left: 0px;
}
.pack-top .price{
    font-size: 1.8em;
    font-weight: 600;
}
@media (min-width:480px){
    .pack-top .price{
        font-size: 2.5em;
    }
}
.pack-top figure{
    height: 200px;
    overflow: hidden;
    margin: 0;
}
@media (min-width:768){
    .pack-top figure{
        height: 246px;
    }
}
.pack-top figure::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 90%);
    top: 0px;
    height: 120px;
    width: 100%;
    content: '';
}
.pack-top figcaption{
    position: absolute;
    top: 5px;
    right: 0;
    color: #1B1464;
    font-size: .7em;
    z-index: 1;
    padding: 10px;
    text-align: right;
}
.pack-orange{
    color: white;/*#1B1464;*/
}
.pack-orange .comp_col2:first-of-type{
    background-color: #fabc00;
    
}
.buttons{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.buttons .bus-label{
    position: absolute;
    top: -53px;
    left: 0;
}
.buttons .bus-id{
    margin: 0 auto;
    width: 180px;
}
@media (min-width:992px){
    .buttons .bus-id{
        margin-left: 30px;
    }
}
.pack-blue .buttons .bus-id>div{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 90px;
}
.pack-orange .comp_col2 .buttons .bus-id>div{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 90px;
}
.buttons .bus-id div:first-of-type{
    border-radius: 50%;
    padding: 3px;
    margin: 0 auto;
    flex: 1;
}
.buttons div:last-of-type{
    padding: 0px 30px;
    text-align: center;
    flex: 5;
}
.buttons button{
    color: white;
    font-weight: lighter;
    border: 2px solid white;
    font-size: 22px;
    line-height: 23px;
    min-width: 150px;
    margin: 7px;
    text-align: center;
    padding: 10px 5px 5px 10px;
    font-weight: 500;
    background: none;
    background-color: #439AE9;
    border-radius: 4px;
    position: relative;
    top: 0px;
    left: 0px;
    height: auto;
}

.pack-orange.pack-bottom{
    background: 
   -webkit-linear-gradient(top left, #e1972f 18%, #fabc00 0%, #fabc00 35%, #e1972f 0%, #e1972f 100%);
    background: 
   -o-linear-gradient(top left, #e1972f 18%, #fabc00 0%, #fabc00 35%, #e1972f 0%, #e1972f 100%);
    background: 
   linear-gradient(to bottom left, #e1972f 31%, #fabc00 -8%, #fabc00 50%, #e1972f 0%, #e1972f 100%);
   color: white;
}

.pack-orange .serv-icons div:not(:last-child)::after
{
    color: #1B1464;
}
.pack-orange .price,
.pack-orange .txt-ruta
{
    color: white;
}



#carouselAcceso{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
}
.carousel .logobolivariano{
    background: url('../images/app/circlebolivariano.png') no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    position: relative;
    top: 10px;
    z-index: 2;
}
.carousel .texto{
    background: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
    padding: 15px;
    font-size: 1.4em;
}

.check-out-wrapper{
    padding:30px 30px;
}
.datos label {
    font-weight: 600;
}




/* The radio container */
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color:white;
    border-radius: 50%;
    border: solid 1px #1B1464;

  }
  
  /* On mouse-over, add a grey background color */
  .radio:hover input ~ .radio-checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio input:checked ~ .radio-checkmark {
    background-color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio input:checked ~ .radio-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio .radio-checkmark:after {
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E1972F;
  }
.metodos{
    margin-bottom: 2rem;
}
.metodos>label{
    margin-bottom: 0.1rem;
}
.metodos .radio{
    width: 26px;
    margin: auto;
}
.metodos .form-group{
    width: 25%;
}
.metodos .form-group .label,.metodos .form-group img{
    max-width: 100%;
}


.trip__salida{
    background-color: #E1972F;
    position: relative;
}
.trip__salida::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-width: 31px 0 31px 10px;
    border-style: solid;
    border-color: transparent #E1972F;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 1;
}
.trip__regreso{
    background-color: #2C3C99;
}
.trip__salida,.trip__regreso{
    color: white;
    width: 50%;
    padding: 10px;
    font-size: 1.2em;
}
@media (max-width:480px){
    .trip__salida,.trip__regreso{
        padding: 12px 5px;
        font-size: 0.9em;
    }
}
.trip__salida p,.trip__regreso p{
    line-height: 1.2em;
    padding: 0px;
    margin: 0px;
    text-align: center
}
.the_trip hr{
    margin-top: 0rem;
}
.trip__subtotal{
    font-weight: 800;
}
.trip__subtotal span{
    font-weight: 400;
}
.trip__subtotal>div{
    border: solid 1px lightgray;
    border-radius: 3px;
    padding: 10px;
    width: 90%;
}
.check-out .data1 p{
    margin-bottom: 5px;
}
.check-out .data1 img{
    max-width: 100%;
}
.check-out .data2{
    text-align: center;
    font-size: 1.4em;
}
.alert{
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.input{
    padding: 5px 2px 5px 10px;
    color: #1B1464;
    box-shadow: 1px 1px 10px gray;
    border: 1px #E1972F solid;
    font-weight: 500;
}



h6.aboveInput {
    font-family: Montserrat;
    font-weight: 500;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
  }
.inputIconBox {
    background: #1B1464;
    border-style: Solid;
    border-color: white;
    border-width: 1px;
    border-radius: 3px 0px 0px 3px;
    color: #FFF;
  }
.iconito {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
  }
.inputcitoBtnVer {
    background: #B0DDFF;
    border-style: Solid;
    border-color: #F8B427;
    border-color: rgba(248, 180, 39, 1);
    border-width: 1px;
    border-radius: 0px 3px 3px 0px;
    color: #439AE9;
    padding: 2px 10px;
  }
.inputSingle {
    padding-bottom: 4px;
    text-align: left;
  }
.inputcito {
    background: #FFFFFF;
    border-style: Solid;
    border-color: #F8B427;
    border-color: rgba(248, 180, 39, 1);
    border-width: 1px;
    border-radius: 0px 3px 3px 0px;
}



/* *** checkbox *** */
/* Base for label styling checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  border: 2px solid #1B1464;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 20px; 
  height: 20px;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  border: 2px solid #1B1464;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: ' ';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #E1972F;
  width: 16px;
  height: 16px;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  background-color: #ddd;
  border: 2px solid #1B1464;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #2C3C99;
}
/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
/* *** ************ *** */




.remember-pass{
    background: white;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin-top: 30px;
    box-shadow: 0px -3px 10px dimgray;
    line-height: 1.2em;
}
.remember-pass span{
    padding-left: 15px;
    font-weight: 700;
}
.remember-pass span a{
    color: #1B1464;
}
.redSocialGrupo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 3px 10px dimgray;
    margin-bottom: 20px;
}
.redSocialGrupo>a{
    color: #fff !important;
    width: 50%;
    border-radius: 0;
    font-family: 'cabin',sans-serif;
}
.btn-facebook {
    background-color: #617AA2;
    font-size: 0.7em;
}
.btn-google {
    background-color: #dd4b39;
    font-size: 0.7em;
}
.redSocialGrupo .fa{
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid white 1px;
}

.triada>div{
    display: block;
    padding: 15px 30px;
    background: white;
    color: #1B1464;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.triada>div>div{
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    margin-left: 5px;
    color: #2C3C99;
    text-align: center;
}
.triada>div:nth-child(1)>div{
    background: url('../images/svg/puntos_dark.svg') no-repeat;
    width:45px;
    padding-top: 11px;
    font-weight: 700;
    font-size: 0.9em;
}
.triada>div:nth-child(2)>div{
    background: url('../images/svg/discount.svg') no-repeat;
    width:50px;
}
.triada>div:nth-child(3)>div{
    background: url('../images/svg/booking.svg') no-repeat;
    width:45px;
    font-weight: 700;
    text-align: right;
    padding-top: 5px;
    padding-right: 4px;
    color: white;
    font-weight: 500;
}

.mi-cuenta p{
    margin-bottom: 2px;
}


.tarifas__tabs.nav-tabs{
    margin-bottom: 15px;
    border-bottom: none;
}
.tarifas__tabs.nav-tabs .nav-link.active{
    box-shadow: 2px -2px 2px #1b146491, -2px -2px 2px #1b14641f;
    border-left: none !important;
    border-right: none !important;
    border-bottom: solid 2px #439ae9;
    background:white;
    color:#1B1464 !important;
    z-index:1;
    background:#439AE9;
    margin-top: -2px;
}
.tarifas__tabs.nav-tabs .nav-link{
    width:calc(16.5% - 0px);
    text-align:center;
    margin:5px 0 0;
    border-radius:0;
    font-family:'montserrat', Helvetica, sans-serif;
    box-shadow: 2px -2px 2px #ccc, -2px -2px 2px #1b146473, inset 0px -2px 2px #1b146480;
    font-weight:700;
    font-size:1em;
    color:#1B1464 !important;
    background:#B0DDFF;
    line-height: 1em;
    padding: 15px 18px;
}

.tarifas__container{
    padding: 15px;
}
.tarifas__col{
    padding-top: 10px !important;
}


#accordionsD{
    padding: 15px 0px; 
    margin-bottom: 15px;
}
#accordionsD .card{
    background-color: #2C3C99;
}
#accordionsD.accordion .card-header {
    background-color: #2C3C99;
    border-bottom: none;
    color: white;
}
#accordionsD.accordion .card:nth-child(even) .card-header{
    background-color: #1B1464;
}
#accordionsD.accordion .card-body{
    margin: 15px;
    border: solid 1px #439AE9;
    color: white;
}
#accordionsD.accordion .card-body .panel{
    border: none;
}
#accordionsD .trip__regreso{
    background: #1B1464;
}
#accordionsD.accordion .btn-link:after{
    width: 50px;
    height: 40px;
    font-family: FontAwesome;
    content: "\f107";
    color: white;
    text-decoration: none;
    font-size: 3em;
    line-height: 0em;
}
#accordionsD.accordion .btn-link.active:after{
    content: "\f106";
}
#accordionsD .data1{
    font-size: 1.1em;
}
#accordionsD .data2{
    text-align: center;
    font-size: 1.4em;
}






.form_calculadora_costos label{
    margin-bottom: 0;
}
.form_calculadora_costos .bg-white{
    padding: 15px 15px;
}
.form_calculadora_costos .form-input_text label{
    display: block;
}
.form_calculadora_costos .form-input_text input{
    width: 100%;
    margin-top: 5px;
}
.form_calculadora_costos .form-selects label{
    display: block;
    color: white;
    background: #1B1464;
    padding: 10px;
}
.form_calculadora_costos .form-selects select{
    width: 100%;
    padding: 10px;
}
.subtitle.orange-text.with-underline{
    border-bottom:#E1972F solid 1px;
}
.block-title{
    background-color: #2C3C99;
    color: white;
    width: 100%;
    font-weight: 500;
    padding: 6px 15px;
    font-size: 1.4em;
    box-shadow: 0px 0px 8px gray;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.block-title.orange{
    background-color: #E1972F;
}
.e_tables .table th{
    margin-bottom: 5px;
}
.e_tables .table tr:nth-child(even) td{
    background-color: #E6E6E6;
}
.e_tables .table tr:nth-child(odd) td{
    background-color: #F2F2F2;
}
.e_tables .row-table{
    overflow-y: hidden;
    overflow-x: hidden;
}


.guias .card-header{
    padding: 0px;
    color: white;
    font-size: 0.9em;
}
.guias .card-header>div:last-of-type,.guias .card-body>div:last-of-type{
    background: #2C3C99;
    padding: 5px;
}
.guias .card-header>div:first-of-type,.guias .card-body>div:first-of-type{
    background: #1B1464;
    padding: 5px;
}
.guias .card-body>div:last-of-type>div:first-of-type{
    border-top: solid 1px #439AE9;
    padding-top: 10px;
}
.guias .numero_guia{
    font-size: 0.9em;
    font-family: 'cabin';
    padding: 2px;
    display: inline-block;
    margin-right: 1%;
}
.guias.accordion{
    padding: 15px 0px; 
}
.guias.accordion .btn-link{
    padding: 0;
}
.guias.accordion .btn-link:after{
    width: 50px;
    height: 40px;
    font-family: FontAwesome;
    content: "\f107";
    color: white;
    text-decoration: none;
    font-size: 3em;
    line-height: 1em;
}
.guias.accordion .btn-link.active:after{
    content: "\f106";
}
.guias.accordion .bg-dark-blue span {
    color: white;
}
.guias.accordion .card{
    background: #439AE9;
}
.guias.accordion .card-body{
    padding: 0px;
}
.guias.accordion .card-body>div>div:last-of-type{
    border-top: solid 1px #439AE9;
    padding-top: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.seguimiento-timeline{
    position: relative;
    margin-top: 10px;
}
.seguimiento-timeline>div{
    width:100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    z-index: 2;
    position: relative;
}
.seguimiento-timeline span{
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 auto;
    border: solid 3px #439AE9;
    background-color: #1B1464;
    text-align: center;
}
.seguimiento-timeline span img{
    margin-top: 4px;
    width: 70%;
    display: none;
}
.seguimiento-timeline hr{
    width: 45%;
    position: absolute;
    top: 16px;
    left: 4%;
    z-index: 1;
    border-top: 3px solid #439AE9; 
    margin-top: 0;
    margin-bottom: 0;
}
.seguimiento-timeline hr:nth-child(2){
    left: 50%;
}

.seguimiento-timeline.salida>div>div:nth-child(1) span{
    border: solid 3px #FABC00;
}
.seguimiento-timeline.salida>div>div:nth-child(1) span img{
    display: inline-block;
}

.seguimiento-timeline.viajando>div>div:nth-child(2) span,.seguimiento-timeline.viajando>div>div:nth-child(1) span{
    border: solid 3px #FABC00;
}
.seguimiento-timeline.viajando>div>div:nth-child(2) span img{
    display: inline-block;
}
.seguimiento-timeline.viajando hr:nth-child(1){
    border-top: 2px solid #FABC00;
}

.seguimiento-timeline.destino span{
    border: solid 3px #FABC00;
}
.seguimiento-timeline.destino hr{
    border-top: 2px solid #FABC00;
}
.seguimiento-timeline.destino>div>div:nth-child(3) span img{
    display: inline-block;
}




.portada{
    padding-bottom: 160px;
}
.portada .puntos_inicial{
    padding: 0px 0px;
    width: 60%;
    margin-top: 60px;
}
.portada .puntos_inicial .header>div:first-child{
    text-align: left;
    padding-left: 15px;
}
.portada .puntos_inicial .header>div:last-child{
    font-size: 1.4em;
    line-height: 0.7em;
}



.viaje .blue{
    background: #2C3C99;
    text-align:center;
    color:white;
    padding: 5px 0px;
}
.viaje .pins>div{
    background: white;
    padding: 5px 0px;
    border: groove 1px #439AE9;
}
.viaje .pins>div:before{
    content: " ";
    position: relative;
    background-color: #1B1464;
    background-image: url('../images/app/f_gps2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 5px;
}
.viaje .clocks>div{
    background: white;
    padding: 5px 0px;
    border: groove 1px #439AE9;
}
.viaje .clocks>div:before{
    content: " ";
    position: relative;
    background-color: #E1972F;
    background-image: url('../images/misc/clock-ico.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 5px;
}
.viaje .clocks>div>select{
    width: calc(100% - 65px);
    height: 100%;
    border: none;
}


.portada .slider-wrapper{
    width: 100%;
    overflow-x:scroll; 
}
.portada .slider-wrapper>div{
    width: 860px;
    padding-bottom: 20px;
}
.packy{
    width: 280px;
    padding-top: 5px;
    display: inline-block;
}
.packy .place{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50%;
    color: #ffffff;
    text-shadow: 0px 0px 10px black, 0px 0px 2px black;
    text-align: right;
    padding-right: 10px;
    font-weight: 700;
    font-size: 1.3em;
    z-index: 2;
}
.packy .place .bg-image{
    z-index: -1;
}
.packy .place p{
    z-index: 2;
}
.packy .bus{
    position: absolute;
    bottom: -30px;
    left: 10px;
    width: 48%;
    z-index: 2;
}
.packy .bus>img{
    max-width: 100%;
}
.packy.blue{
    background-color: #2C3C99;
}
.packy.orange{
    background-color: #FABC00;
}
.packy.blue .bottom{
    background-image: url(../images/bg/bcrossed2.png);
}
.packy.blue .top{
    background-color: #1B1464;
}
.packy.orange .bottom{
    background-image: url(../images/bg/ocrossed2.png);
}
.packy .bottom{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    padding-top: 25px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
}
.packy .bottom .text-right{
    padding-right: 10px;
    font-size: 1.2em;
}
.packy .bottom .btn{
    text-align: center;
    padding: 5px 20px;
    background-color: #439AE9;
    border: solid 2px white;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.packy.orange .top{
    background-color: #E1972F;
}
.packy .top{
    position: relative;

}
.packy .top .data{
    text-align: right;
    color: white;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.packy .top .data>*{
    margin: 0px;
}
.slider-wrapper::-webkit-scrollbar {
    width: 1em;
    border-radius: 6px;
}
 
.slider-wrapper::-webkit-scrollbar-track {
    border: solid 1px white;
    padding: 2px;
    border-radius: 6px;
}
 
.slider-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #439AE9;
  border-radius: 6px;
}


.tarifas__wrapper::-webkit-scrollbar {
    width: 1em;
    border-radius: 6px;
}
 
.tarifas__wrapper::-webkit-scrollbar-track {
    border: solid 1px white;
    padding: 2px;
    border-radius: 6px;
}
 
.tarifas__wrapper::-webkit-scrollbar-thumb {
  background-color: #1B1464;
  outline: 3px solid #439AE9;
  border-radius: 6px;
}



.wrapper__side_news{
    background: #f8f8f8;
    text-align: center;
}
.side_news picture>img{
    width: auto;
    max-width: 100%;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    vertical-align: top;
}
.side_news .paragraph{
    width: 100%;
    display: inline-block;
    text-align: left;
}
.side_news,.big_news,.regular_news{
    border-bottom: solid 1px dimgray;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
.big_news picture>img,.regular_news picture>img{
    max-width: 100%;
    margin-bottom: 15px;
}
.big_news .date,.regular_news .date{
    font-size: 0.7em;
    color: lightgray;
    margin-top: 15px;;
}
.side_news a>img,.big_news a>img,.regular_news a>img{
    width: 100%;
    max-width: 560px;
    margin-top: 15px;
}
.regular_news .link{
    width: 100%;
}


.sillas_resumen{
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 30px;
}
.sillas_resumen .trip__salida::after{
    border-width: 21px 0px 21px 10px;
}
.sillas_resumen .header{
    margin-top: 30px;
    color: white;
    margin-bottom: 30px;
}
.sillas_resumen .header h4{
    font-size: 1.2em;
}
.sillas_resumen .header i{
    font-size: 3em;
    line-height: 0em;
}
.sillas_resumen .data2{
    text-align: center;
    border: solid 1px lightgray;
    padding: 10px 0px;
}

.sillas-wrapper{
    padding: 15px 10px;
}
.sillas{
    background: white;
    text-align: center;
}
.sillas__container{
    padding: 30px 10px;
}
.sillas__container figure{
    max-width: 320px;
    margin: 0 auto;
}
.sillas__tabs{
    justify-content:space-between;
}
.sillas__tabs .sillas__tab{
    width: 50%;
    text-align:center;
    margin:0 0;
    border-radius:0;
    background:#ddd;
    color:#1B1464 !important;
}
.sillas__tabs .sillas__tab img{
    width: 49%;
    max-width: 120px;
    margin-right: 5px;
}
.sillas__tab.active{
    box-shadow:2px -2px 2px #fabc00,-2px -2px 2px #fabc00;
    border:none !important;
    background:white;
    color:#1B1464 !important;
    z-index:1;
}

.table.passengers{
    border: solid 1px lightgray;
}
.table.passengers th{
    padding: 10px;
    text-align: left;
}
.table.passengers td{
    padding: 10px;
    padding-bottom: 0px;
    text-align: left;
}

.more_services{
    padding: 15px 0px;
    margin-bottom: 30px;
}

.more_services ul{
    list-style: none;
    padding-left: 0px;
}
.more_services li{
    display: block;
    /* margin: 15px 0px; */
    padding: 15px;
    position: relative;
}
.more_services li::after{
    position:absolute;
    font: normal normal normal 30px/1 FontAwesome;
    content: "\f105";
    right: 25px;
    top: 1em;


}
.more_services li a{
    color: #1b1464;
    padding: 15px;
    background: #ffffff;
    border: solid 2px #e1972f;
    border-radius: 5px;
    width: 100%;
    display: block;
}


.row-agencia{
    margin-bottom: 15px;
    border-bottom: solid lightgray 1px;
    padding-bottom: 15px;
}
.row-agencia i{
    font-size: 3em;
    line-height: 1em;
    padding-top: 0.2em;
}
.row-agencia h4{
    font-size:1.3em;
    line-height: 3em;
}
.row-agencia .image-wrapper{
    max-width: 120px;
    width: 100%;
    padding-top: 80%;
    border: solid 3pp white;
    border-radius: 3px;
    box-shadow: 0px 0px 5px dimgray;
}

.details p{
    margin-bottom: 2px;
}
.s_buses .radio{
    display: inline-block;
}
.s_buses img{
    width: 150px;
}
.s_buses button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.s_buses .row{
    background: white;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.agencia_top figure{
    height: 144px;
    overflow: hidden;
    margin: 0;
    position: relative;
}
@media (min-width:768px){
    .agencia_top figure{
        height: 246px;
    }
}
.agencia_top figure::after{
    display: block;
    position: absolute;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 90%);
    top: 0px;
    height: 120px;
    width: 100%;
    content: '';
}
.agencia_top figcaption{
    position: absolute;
    top: 0px;
    left: 10px;
    color: #1B1464;
    font-size: 1.5em;
    z-index: 1;
    padding: 0px;
    text-align: right;
}
.vip_galleries .carousel{
    width: 100%;
}
.vip_galleries .carousel-item {
    height: 140px;
}
.vip_galleries>.row{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: solid #1B1464 1px;
}
.vip_galleries .paragraph{
    font-size: 0.9em;
    margin-bottom: 2px;
    line-height: 0.9em;
}
.hero_services{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.hero_services img{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.fixed_wrapper{
    position: relative;
    height: 3em;
}
.fixed_up_arrow{
    position: fixed;
    text-align: center;
    width: 50px;
    background-color: white;
    line-height: 1.5em;
    border: solid #439AE9 3px;
    top: 95px;
    right: -3px;
    font-size: 2em;
    font-weight: 800;
    color: #1B1464;
    z-index: 90;
    display: none;
}



.tarifas__wrapper{
    overflow-x: scroll;
    margin-top: 30px;
}
.tarifas__table{
    min-width: 480px;
    width: 100%;
}
.tarifas__table td img{
    width: 90px;
}
.tarifas__table th{
    padding: 0px 10px;
}
.tarifas__row--header{
    text-align: center;
    color: white;
    background: #1B1464;
}
.tarifas__table td{
    text-align: center;
}
.tarifas__table tr:nth-child(even){
    background: gainsboro;
}
.tarifas__table .radio{
    height: 20px;
    width: 26px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
.tarifas__table .precio_check h6{
    font-size:11px;
    font-weight:600;
}
.tarifas__table .hora_logo img{
    padding: 0px 10px;
}

.delete{
    color: red;
    font-size: 1.5em;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    padding: 0;
    text-shadow: 0 0 10px rgba(1,1,1,.2);
    
}
.misdestinos li>div>div:last-child{
    width: 85px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.gps .text-white>i{
    font-size: 2em;
    margin-right: 15px;
}
.gmap{
    width: 100%;
    height: 380px;
}




.legends{
    max-width:1200px;margin:15px auto;position:relative;text-align:center;
}
.legends__label{
    display:inline-block;line-height:20px;margin:0;padding:0 5px;
}
.legends__color{
    display:inline-block;width:30px;height:20px;margin-left:5px;border:1px solid #1B1464;margin-bottom:-5px;
}
.legends__color--selected{
    background:#E1972F;
}
.legends__color--busy{
    background:gray;
}
.legends__color--free{
    background:#ddd;
}


.legends__color--1,.seats .tipo1{
    background:green;
    fill:green;
}
.legends__color--2,.seats .tipo2{
    background:yellow;
    fill:yellow;
}
.legends__color--3,.seats .tipo3{
    background:blueviolet;
    fill:blueviolet;
}
.legends__color--4,.seats .tipo4{
    background:aquamarine;
    fill:aquamarine;
}